parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Controller\\CsvController\:\:getForm\(\) return type with generic interface Symfony\\Component\\Form\\FormInterface does not specify its types\: TData$#'
			identifier: missingType.generics
			count: 1
			path: src/Controller/CsvController.php
